/* Комбинированный селектор - применяется ко всем элементам */
header, footer, aside, body, .navbar, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
}

header, footer, body, .video-container {
    background-color: darkgrey;
}
.bordered {
    display: flex;
   /* border: 2px solid gainsboro;
    background-color: darkgrey;
    padding: 10px;
    margin-bottom: 10px;*/
}
/* Компоненты iframe со встроенным видео */
.video-container {
    /*display: inline-block;*/
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

.review-container, .review-button {
    display: inline-block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

.review-text {
    display: block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}


/* Стили панели навигации */
.navbar p {
    color: darkgray;
    padding-left: 15%;
}

    /* Стили панели навигации при наведении мышью */
    .navbar p:hover {
        color: aliceblue;
    }

/* Глобальные стили для хедеров на всём сайте */
header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}
/* Стиль хедера для главной страницы имеет приоритет, 
так как используется селектор по идентификатору */
#header-index {
    color: black;
}

/* Стили футера */
footer {
    font-size: medium;
    color: black;
    line-height: 66%;
    padding-left: 1%;
    padding-bottom: 1%;
    margin-top: auto;
    /*overflow: auto;*/
}

aside {
    min-height: 100vh; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: auto;
    min-width: 200px;
    z-index: 1;
    position: fixed; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
}

body {
    padding-left: 180px;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

input {
    border: 2px solid darkgrey;
    border-radius: 2px;
    outline: none;
}

    input:focus {
        border: 2px solid dimgrey;
    }
    /*стили картнок для слайдера*/
.slider{
    width: 400px;
    height: 220px;
    position: relative;
    margin: auto;
    overflow: hidden;
    display: flex;
}
/*размер*/
.slider .item img{
    object-fit:cover;
    width: auto;
    height: 100%;
}
/*Кнопки положение*/
.slider .previos, .slider .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /*Кнопки*/
    color: white;
    font-weight: bold;
    font-size: 40px;
}
.slider .next{
    right: 0;
}

.slider .item{
    animation-name: fade;
    animation-duration: 1.5s;
}
